<!-- 
This is my homepage html 
References: https://www.w3schools.com/html/html_headings.asp 
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palette Extractor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Nunito', sans-serif;">
    
    <!-- Headings -->
    <h1>Palette Extractor</h1>
    <h5>A web-based application that lets you generate a color palette from an image URL using Color Thief</h5>
    <h6>Created by Regina Chua | <a href="https://github.com/rchuable/" target="_blank">rchuable</a></h6>

    <!-- Form to enter image URL -->
    <form method="POST">
        <label for="image_url">Image URL:</label>
        <input type="url" id="image_url" name="image_url" placeholder="Enter image URL" required>
        <button type="submit">Extract Palette</button>
    </form>

    <!-- Display image preview -->
     {% if colors %}
        <h2>Image Preview:</h2>
        {% if request.form.get('image_url') %}
            <img src="{{ request.form['image_url'] }}" alt="Image preview" style="max-width: 100%; height: auto;">
        {% endif %}

    <!-- Display the generated color palette -->
        <h2>Extracted Color Palette:</h2>
        <div class="palette-container">
            {% for color in colors %}
                <div class="color-box" style="background-color: {{ color.color }};">
                    <span class="hex-code" style="color: {{ color.text_color }};">{{ color.color }}</span>
                </div>
            {% endfor %}
        </div>

    <!-- Show download button -->
    {% if colors_str %}
        <a href="{{ url_for('download_palette', colors=colors_str) }}">
            <button class="download-btn">Download Palette</button>
        </a> 
    {% endif %}

    {% else %}
        <p>Enter an image URL to extract a color palette.</p>
    {% endif %}
    
</body>
</html>
