<!-- https://www.w3schools.com/html/html_headings.asp -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palette Extractor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Palette Extractor</h1>
    <h5>A web-based application that lets you generate a color palette from an image URL using Color Thief</h5>
    <h6>Created by Regina Chua | <a href="https://github.com/rchuable/">rchuable</a></h6>

    <!-- Form to enter image URL -->
    <form method="POST">
        <label for="image_url">Image URL:</label>
        <input type="text" id="image_url" name="image_url" required>
        <button type="submit">Generate Palette</button>
    </form>

    <!-- Display the generated color palette -->
    {% if colors %}
        <h2>Generated Color Palette:</h2>
        <div style="display: flex;">
            {% for color in colors %}
                <div style="width: 50px; height: 50px; background-color: {{ color }};"></div>
            {% endfor %}
        </div>
        <ul>
            {% for color in colors %}
                <li>{{ color }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
